@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Poppins:wght@300&family=Zilla+Slab+Highlight&display=swap');

@keyframes tracking {
	0% {transform: rotateZ(0deg);}
	50%{transform: rotateZ(180deg);}
	100% {transform: rotateZ(0deg);}
}

html,body{

    min-height: 100%;
    min-width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}
.modal{
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin:0 auto;
    background-color: transparent;
}
.tooltip-inner{
    background-color: rgba(179, 177, 177,0.99);
    color: white;
    text-shadow: 0px 0px 5pxx rgba(0, 0, 0,0.8);
    padding: 0.7vw;
    margin:  0vw 0.1vw 0vw 0.7vw;
}
.tooltip-arrow{
   display: none;
}
#wiki_modal{

    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3cpath d='M 0%2c277 C 72%2c286.4 216%2c326.2 360%2c324 C 504%2c321.8 576%2c231 720%2c266 C 864%2c301 936%2c532 1080%2c499 C 1224%2c466 1368%2c180.6 1440%2c101L1440 560L0 560z' fill='rgba(3%2c 23%2c 124%2c 0.2)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.leaflet-control-container{
    display: none;
}

#map{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: black;
    
}
#three_map{
    position: absolute;
    right: 0px;
    top: 0px;
    display: none;
}
.three_label{
    
    color: #FFF;
    border-radius: 8px;
    font-family: 'Goldman', cursive;
    padding: 0.2vw 0.5vw 0.2vw 0.5vw;
    background: rgba( 0, 0, 0, .6 );
    cursor: pointer;
    
}

.mapboxgl-popup-close-button{
    display: none;
}
.mapboxgl-popup-content-wrapper{
    background-color: white;
}
.mapboxgl-popup-content{
    background-color: white;
    text-align: center;
}
.btns{
    display: none;
    position: absolute;
    padding: 8px;
    right: 1vw;
    top: 1.25vw;
    font-size: 1.6vw;
    color: white;
    text-shadow: 0px 0px 10px rgb(82, 82, 131);
    z-index: 5;
    cursor: pointer;
    background-color: gray;
    border-radius: 8px;
}
.btns a {
    color: white;
    margin-top: 20px;
}
#km{
    background-color: gray;
    border-radius: 8px 0px 0px 8px;
    color: black;
    box-shadow:0px 0px 0px;
    text-shadow: 0px 0px 0px;
    font-size: 1vw;
    position: fixed;
    top: 1.25vw;
    right: 3.10vw;
    padding: 8px;
    padding-right: 1vw;
    padding-left: 1vw ;
    color: white;
    z-index: 4;
}


.menu{
    position: absolute;
    transition: all;
    transition-duration: 500ms;
    padding: 1vw;
    padding-top: -5vw;
    min-width: 15%;
    max-width: 15%;
    min-height: 100%;
    background: rgba(219, 218, 218,0.9);
    box-shadow: 0px 0px 10px black;
    border-radius: 0px 8px 8px 0px;
    left: 0px;
    top: 0px;
    z-index: 100;
    pointer-events: none;
    
}
#menu_btn{
    
    min-height: max-content;
    overflow: auto;
    min-width: 100%;
    background: linear-gradient(to right,transparent 70%,rgba(179, 177, 177,0.99));
    transition: all;
    transform: translate(30%);
    position: sticky;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
    transition: all;
    transition-duration: 500ms;
}
#menu_btn:hover{
    transform: translate(33%);
}
#menu_btn i {
    float: right;
    font-size: 2vw;
    padding: 1vw;
    margin-right: 0.5vw;
    text-shadow: 0px 0px 10px white;
}
.controls{
    transform: translateY(-4vw);
}
.controls section{
    background-color: rgba(169, 169, 169, 0.8);
    padding: 1vw;
    margin-bottom: 1vw;
    overflow: auto;
    color: white;
}
.controls textarea,select,option{
    background-color: rgba(241, 240, 240, 0.8);
}
header{
    text-align: center; 
}
header span{

    font-family: 'Goldman', cursive;
    text-shadow: 0px 0px 10px rgb(22, 38, 58);
    color: white;
    font-size: 2vw;
    text-align: center;
    
}

.c_btn{
    color: rgb(17, 17, 192);
    padding: 8px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7vw;
}
.orbit_lines{
    font-size: 0.6vw;
}
.orbit_lines i{
    font-size: 1.5vw;
    transform: translateY(25%);
    text-shadow: 0px 0px 30px rgba(14, 26, 39,0.4);
}
label{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.menu_footer{
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin: auto;
    font-size: 0.8vw;
    color: rgb(70, 70, 70);
    font-family: 'Courier New', Courier, monospace;
}

#cord_tart{
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    min-width: 100%;
    z-index: 2;
    text-align: center;
    pointer-events: none;
}

#cord{
    margin: auto;
    color: white;
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
    box-shadow:0px 0px 10px rgb(82, 82, 131) ;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.tracking{
    transition: all;
    animation-name: tracking;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
.notHas3D{
    color: red;
}
.has3D{
    color: green;
}
.mapPopup{
    font-family: 'Goldman', cursive;
    padding: 0vw 1vw 0vw 1vw;
    margin-top: 1vw;
    background-color: rgba(14, 13, 13,0.9);
    color: white;
    text-shadow: 0px 0px 10px rgb(105, 105, 105);
}

.disabled{
    color: rgb(163, 163, 163);
}








@media (max-width: 1023px) and (min-width: 0px) {


    .menu{
        min-width: 70%;
        max-width: 70%;
        min-height: 100%;
        z-index: 100;  
    }

    #menu_btn{
        min-width: 80%;
        max-width: 90%;
    }
    #menu_btn i {
        font-size: 10vw;
        margin-right: 2.5vw;
    }
    .controls{
        transform: translateY(-8vw);
    }
    header span{

        color: white;
        background-color: rgba(34, 34, 34,0.7);
        padding: 1vw 3vw 1vw 3vw;
        box-shadow: 0px 0px 10px rgba(43, 42, 42,0.6);
        border-radius: 8px;
        font-size: 9vw;
        
    }
    .btns{
        font-size: 7vw;
    }
    .c_btn{
        font-size: 4vw;
    }
    #km{
        font-size: 4vw;
        top: 1.25vw;
        right: 10.5vw;
        z-index: 2;
    }
    .controls section{
        
        margin-bottom: 4.5vw;
        overflow: auto;
    }
    .orbit_lines{
        font-size: 3vw;
        padding-left: 2vw;
        overflow: hidden;
    }
    .orbit_lines i{
        font-size: 7vw;
        transform: translateY(15%);
        text-shadow: 0px 0px 5px rgba(39, 39, 39,0.5);
        padding-bottom: 3vw;
    }
    .menu_footer{
        font-size: 2vw;
    }

}